.lead {
  font-family: 'Inter', Arial, sans-serif;
  max-width: 90.625%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .lead {
    max-width: 984px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 100%;
  }
}
