.page__footer {
  margin: auto;
  margin-top: 92px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1280px) {
  .page__footer {
    max-width: 1184px;
  }
}

@media screen and (max-width: 1023px) {
  .page__footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .page__footer {
    margin-top: 64px;
    margin-left: 16px;
  }
}
